* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family:  sans-serif;

}

.root {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #00000080;
  margin: 0 auto;
}
